<style>
body {
    text-align: center;
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="main">
        <h2>Change password</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class = "Button" type="submit" value="Change">
    </form>
        <a  class = "links" href="{% url 'help' %}"> help</a>
        <a class = "links" href="{% url 'dashboard' %}">Back to dashboard</a>
</div>
{% block content %}
{% endblock %}
